/*Your CSS here*/
/* TODO: retheme this whole bloddy mess */
.enyo-header {
    background-color: #448820;
    color: white;
    -webkit-border-image: none 100% 1 0 stretch;
}

.enyo-toolbar {
    color: white;
    background-color: #448820;
    -webkit-border-image: none 100% 1 0 stretch;
}

.todo-toolbar-button {
    color: white;
    background-color: #448820;
}

.enyo-button-negative {
    color: white;
    background-color: #be0003;
}

.enyo-button-affirmative {
    color: white;
    background-color: #2aa100;
}

.todo-entry{
    background-color: white;
}

.todo-view-title {
    font-size: 90%;
}
.box-center {
    width: 320px;
    margin: 23px auto 0;
}

.left-col {
    color: #777777;
}
.mid-col {
    font-weight: bold;
}
.bot-row {
    font-size:12px;
    font-weight: bold;
}
.top-row {
    font-size:10px;
}
.pri-a { color: red; }
.pri-b { color: green; }
.pri-c { color: slateblue; }
.dialog-fix {
    height: 100%;
}
.completed-item {
    color: #aaaaaa;
}
.selected-item {
    background: grey;
    color: white;
}

.overdue-item {
    color: red;
}

.ver-history { font-size: 16px; }
.version { font-weight: bold;}
.enyo-modaldialog > * { height:100%; }

#todoTxt_listView_listSelector {
    height: 37px;
    padding: 0px 0px;
}

#todoTxt_listView_listSelector_content {
    -webkit-box-pack:center !important;
}

#todoTxt_listView_todoList {
    background-color: white;
}

#todoTxt_editView_tododetail {
    position: absolute;
    width: 100%;
    height:100%;
    z-index:1;
}

#todoTxt_editView_hint {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index:2;
    color: #aaaaaa;
}

#toast {
    position: fixed;
    bottom: 20%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    border: 1px solid #666;
    background-color: #444;
    color: #FFF;
    padding: 10px 0 ;
    text-align:center;
    opacity: .9;
    -webkit-transition: opacity 0.5s ease-out;
}
