/*Your CSS here*/
/* TODO: retheme this whole bloddy mess */
.enyo-header {
    background-color: #448820;
    color: white;
    -webkit-border-image: none 100% 1 0 stretch;
}

.enyo-toolbar {
    color: white;
    background-color: #448820;
    -webkit-border-image: none 100% 1 0 stretch;
}

#todoTxt_listView_todoList {
    background-color: white;
}

.todo-entry{
    background-color: white;
}

.todo-view-title {
    font-size: 90%;
}
.box-center {
    width: 320px;
    margin: 23px auto 0;
}

.left-col {
    color: #777777;
}
.mid-col {
    font-weight: bold;
}
.bot-row {
    font-size:12px;
    font-weight: bold;
}
.top-row {
    font-size:10px;
}
.pri-a { color: red; }
.pri-b { color: green; }
.pri-c { color: slateblue; }
.dialog-fix {
    height: 100%;
}
.completed-item {
    color: #aaaaaa;
}
.selected-item {
    background: grey;
    color: white;
}
.ver-history { font-size: 16px; }
.version { font-weight: bold;}
.enyo-modaldialog > * { height:100%; }
#toast {
    position: fixed;
    bottom: 20%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    border: 1px solid #666;
    background-color: #444;
    color: #FFF;
    padding: 10px 0 ;
    text-align:center;
    opacity: .9;
    -webkit-transition: opacity 0.5s ease-out;
}
